# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea
.vscode

# Ignore Eclipse settings
.project
.settings/
.classpath

#Ignore latex
*.toc
*.synctex.gz
*.synctex.bbl
*.synctex.blg
*.log
*.out
*.aux
*.bbl
*.blg
*.eps
*.kate-swp
*.dvi
*.fdb_latexmk
*.fls
